<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BA103G3_blog</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/TestDB3</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>frontIndexServlet</servlet-name>
    <servlet-class>com.mem.controller.frontIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>frontIndexServlet</servlet-name>
    <url-pattern>/easyfood/front-end/index.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BlreServlet</servlet-name>
    <servlet-class>com.blre.controller.BlreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlreServlet</servlet-name>
    <url-pattern>/easyfood/front-end/class/member/blre.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BlogServlet</servlet-name>
    <servlet-class>com.blog.controller.BlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogServlet</servlet-name>
    <url-pattern>/easyfood/front-end/class/member/blog.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StoreSearchServlet</servlet-name>
    <servlet-class>com.store.search.controller.StoreSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreSearchServlet</servlet-name>
    <url-pattern>/easyfood/front-end/class/search/search.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>repBlogServlet</servlet-name>
    <servlet-class>com.ra.controller.repBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>repBlogServlet</servlet-name>
    <url-pattern>/easyfood/front-end/class/blog/repblog.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Mem_Red_Img</servlet-name>
    <servlet-class>com.tools.Mem_Red_Img</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mem_Red_Img</servlet-name>
    <url-pattern>/tools/Mem_Red_Img</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Adv_Red_Img</servlet-name>
    <servlet-class>com.tools.Adv_Red_Img</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adv_Red_Img</servlet-name>
    <url-pattern>/tools/Adv_Red_Img</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.adm.controller.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/easyfood/back-end/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admServlet</servlet-name>
    <servlet-class>com.adm.controller.admServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admServlet</servlet-name>
    <url-pattern>/easyfood/back-end/class/administrator/adm.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemServlet</servlet-name>
    <servlet-class>com.mem.controller.MemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemServlet</servlet-name>
    <url-pattern>/easyfood/front-end/class/member/mem.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FavServlet</servlet-name>
    <servlet-class>com.fav.controller.FavServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FavServlet</servlet-name>
    <url-pattern>/easyfood/front-end/class/member/fav.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrdServlet</servlet-name>
    <servlet-class>com.ord.controller.OrdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdServlet</servlet-name>
    <url-pattern>/easyfood/front-end/class/member/Ord.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>memVioServlet</servlet-name>
    <servlet-class>com.mem.controller.memVioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>memVioServlet</servlet-name>
    <url-pattern>/easyfood/back-end/class/member/memVio.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>repServlet</servlet-name>
    <servlet-class>com.rep.controller.repServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>repServlet</servlet-name>
    <url-pattern>/easyfood/back-end/class/report/report.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>front_RepServlet</servlet-name>
    <servlet-class>com.rep.controller.front_RepServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>front_RepServlet</servlet-name>
    <url-pattern>/easyfood/front-end/class/member/Rep.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>feaServlet</servlet-name>
    <servlet-class>com.fea.controller.feaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>feaServlet</servlet-name>
    <url-pattern>/easyfood/back-end/class/admprivileges/fea.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>com.add.controller.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/easyfood/front-end/class/member/Add.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.cart.controller.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/easyfood/front-end/class/search/cart.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrtitServlet</servlet-name>
    <servlet-class>com.ordit.controller.OrtitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrtitServlet</servlet-name>
    <url-pattern>/easyfood/front-end/class/member/Ortit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvServlet</servlet-name>
    <servlet-class>com.adv.controller.AdvServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvServlet</servlet-name>
    <url-pattern>/adv/adv_in.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProServlet</servlet-name>
    <servlet-class>com.pro.controller.ProServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProServlet</servlet-name>
    <url-pattern>/pro/proin.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StocaServlet</servlet-name>
    <servlet-class>com.storecategory.controller.StocaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StocaServlet</servlet-name>
    <url-pattern>/stoca/stoca.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StrServlet</servlet-name>
    <servlet-class>com.store.controller.StrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StrServlet</servlet-name>
    <url-pattern>/str/store.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DclaServlet</servlet-name>
    <servlet-class>com.dishclass.controller.DclaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DclaServlet</servlet-name>
    <url-pattern>/dcla/dcla.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DishServlet</servlet-name>
    <servlet-class>com.dish.controller.DishServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DishServlet</servlet-name>
    <url-pattern>/dish/dish.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrdServlet2</servlet-name>
    <servlet-class>com.ord.controller.OrdServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdServlet2</servlet-name>
    <url-pattern>/ord/ord.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrditServlet2</servlet-name>
    <servlet-class>com.ord.controller.OrditServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrditServlet2</servlet-name>
    <url-pattern>/ordit/ordit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>readDishPicture</servlet-name>
    <servlet-class>com.dish.controller.readDishPicture</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>readDishPicture</servlet-name>
    <url-pattern>/dish/readDishPicture.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>readStorePicture</servlet-name>
    <servlet-class>com.store.controller.readStorePicture</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>readStorePicture</servlet-name>
    <url-pattern>/str/readStorePicture.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>readStocaPicture</servlet-name>
    <servlet-class>com.storecategory.controller.readStocaPicture</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>readStocaPicture</servlet-name>
    <url-pattern>/stoca/readStocaPicture.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Schedule</servlet-name>
    <servlet-class>com.tools.Schedule</servlet-class>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Schedule</servlet-name>
    <url-pattern>/Rank_Tools.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>back_login_filter</filter-name>
    <filter-class>com.filter.back_login_filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>back_login_filter</filter-name>
    <url-pattern>/easyfood/back-end/class/*</url-pattern>
    <url-pattern>/easyfood/back-end/index.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>FilterLogin</filter-name>
    <filter-class>com.filter.FilterLogin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterLogin</filter-name>
    <url-pattern>/easyfood/front-end/class/member/member_blog.jsp</url-pattern>
    <url-pattern>/easyfood/front-end/class/member/member.jsp</url-pattern>
    <url-pattern>/easyfood/front-end/class/shoppingCart/payment_address.jsp</url-pattern>
    <url-pattern>/easyfood/front-end/class/member/Ord.do</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>StoreFilter</filter-name>
    <filter-class>com.store.filter.StoreFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>StoreFilter</filter-name>
    <url-pattern>/easyfood/front-end/class/store/str_center.jsp</url-pattern>
    <url-pattern>/easyfood/front-end/class/store/str_starCounting.jsp</url-pattern>
    <url-pattern>/easyfood/front-end/class/store/str_profile01.jsp</url-pattern>
    <url-pattern>/easyfood/front-end/class/store/str_profile02.jsp</url-pattern>
    <url-pattern>/easyfood/front-end/class/store/str_profile03.jsp</url-pattern>
    <url-pattern>/easyfood/front-end/class/store/str_dishView.jsp</url-pattern>
    <url-pattern>/easyfood/front-end/class/store/str_dishEdd.jsp</url-pattern>
    <url-pattern>/easyfood/front-end/class/store/str_dishUpdate.jsp</url-pattern>
    <url-pattern>/easyfood/front-end/class/store/str_orderView.jsp</url-pattern>
    <url-pattern>/easyfood/front-end/class/store/str_orderConfirm.jsp</url-pattern>
    <url-pattern>/easyfood/front-end/class/store/str_orderCheck.jsp</url-pattern>
    <url-pattern>/easyfood/front-end/class/store/str_orderOne.jsp</url-pattern>
    <url-pattern>/easyfood/front-end/class/store/str_orderShip.jsp</url-pattern>
    <url-pattern>/easyfood/front-end/class/store/str_orderCash.jsp</url-pattern>
    <url-pattern>/easyfood/front-end/class/store/str_inform01.jsp</url-pattern>
    <url-pattern>/easyfood/front-end/class/store/str_inform02.jsp</url-pattern>
    <url-pattern>/easyfood/front-end/class/store/str_inform03.jsp</url-pattern>
    <url-pattern>/easyfood/front-end/class/store/str_advertise01.jsp</url-pattern>
    <url-pattern>/easyfood/front-end/class/store/str_advertise02.jsp</url-pattern>
    <url-pattern>/easyfood/front-end/class/store/str_bonus_01.jsp</url-pattern>
    <url-pattern>/easyfood/front-end/class/store/str_bonus_02.jsp</url-pattern>
    <url-pattern>/easyfood/front-end/class/store/str_bonus_03.jsp</url-pattern>
  </filter-mapping>
</web-app>